.preview-canvas .canvas-container {
  opacity: 1 !important;
}

/* .eb-preview-canvas--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

#preview-canvas {
  width: 600px !important;
}

.canvas-container.op-zero {
  width: 600px !important;
}

.canvas-container {
  position: fixed !important;
  margin-top: -120px;
}
